<div class="comments">
  {{#each this}}
    <article class="post card">
      <div class="title card-header">
        <p>{{from}}</p>
      </div>
      <p class="card-body">{{comment_text}}</p>
    </article>
  {{/each}}
</div>

