<div class="comments">
    <div class="card">
  {{#each this}}
    <section class="comment card-body">
      <div class="text">
        <p><strong>{{from}}:</strong> {{comment_text}}</p>
        <div>({{created_at}})</div>
      </div>
    </section>
  {{/each}}
  </div>
</div>