        <div class="px-2 w-100 d-flex justify-content-between border">
          <p class="m-0 small">Name: {{name}}</p> 
          <p class="m-0 small">Device ID: {{device}}</p> 
          <a href="/edit/{{id}}" class="edit-link">Edit/Delete</a>
        </div>
       

