<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Collaborative Cargo</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body class="flex-column min-100-vh">
  <header class="hero">
    <nav>
      <a class="nav" href="/">Home</a>
      <a class="nav" href="/users">Users</a>
      {{#if loggedIn}}
      <a class="nav" href="/my-posts">My Posts</a>
      <a class="nav" href="/create-post">Create Post</a>
      <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
      <a class="nav" href="/login">Login</a>
      {{/if}}
    </nav>
    <h1 class="app-title">Collaborative Cargo</h1>
    {{#if loggedIn}}
    <p id="white">Logged in as {{username}}</p>
    {{/if}}
  </header>


  <main>
    {{{ body }}}
  </main>

  
  {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>