<section>
    <h2>Create New Post</h2>
  
    <form class="new-post-form">
      <div>
        <label for="origin">Origin</label>
        <input type="text" id="origin" name="origin" />
      </div>
      <div>
        <label for="destination">Destination</label>
        <input id="destination" name="destination" />
      </div>
      <div>
        <label for="pickup_date">Pick Up Date</label>
        <input type="date" id="pickup_date" name="pickup_date" />
      </div>
      <div>
        <label for="weight">Weight</label>
        <input id="weight" name="weight" />
      </div>
      <div>
        <label for="miles">Miles</label>
        <input id="miles" name="miles" />
      </div>
      <div>
        <label for="equipment">Equipment</label>
        <input id="equipment" name="equipment" />
      </div>
      <div>

      </div>
      <button type="submit" class="btn">Create</button>
    </form>
  </section>