<div class="card row p-0 w-50">
    <h2 class="card-header text-center text-secondary">New Post</h2>
    <form class="new-post-form">
      
      <div class="card-body text-center mt-4">
        <form>
          <div class="form-group row">
            <input type="text" id="origin" name="origin" class="form-control col m-2" placeholder="Origin" />
          </div>
          <div class="form-group row">
            <input id="destination" name="destination" class="form-control col m-2" placeholder="Destination" />
          </div>
          <div class="form-group row">
            <input id="pickup_date" name="pickup_date" class="form-control col m-2" placeholder="Pick Up Date" />
          </div>
          <div class="form-group row">
            <input id="weight" name="weight" class="form-control col m-2" placeholder="Weight" />
          </div>
          <div class="form-group row">
            <input id="miles" name="miles" class="form-control col m-2" placeholder="Miles" />
          </div>
          <div class="form-group row">
            <input id="equipment" name="equipment" class="form-control col m-2" placeholder="Equipment" />
          </div>
          <button type="submit" class="btn btn-primary w-25 mt-3">Create</button>
        </form>
      </div>

    </form>
</div>

<script src="/javascript/add-post.js"></script>