<div class="card">
      <h2 class="card-header">Login</h2>
      <form class="login-form new-post-form">
      <div>
        <label class="form-label" for="origin">Origin</label>
        <input type="text" id="origin" name="origin" class="form-input"/>
      </div>
      <div>
        <label class="form-label" for="destination">Destination</label>
        <input id="destination" name="destination" class="form-input"/>
      </div>
      <div>
        <label class="form-label" for="pickup_date">Pick Up Date</label>
        <input type="date" id="pickup_date" name="pickup_date" class="form-input"/>
      </div>
      <div>
        <label class="form-label" for="weight">Weight</label>
        <input id="weight" name="weight" class="form-input"/>
      </div>
      <div>
        <label class="form-label" for="miles">Miles</label>
        <input id="miles" name="miles" class="form-input"/>
      </div>
      <div>
        <label class="form-label" for="equipment">Equipment</label>
        <input id="equipment" name="equipment" class="form-input"/>
      </div>
      <div>

      </div>
      <button type="submit" class="btn">Create</button>
    </form>
</div>

<script src="/javascript/add-post.js"></script>