{{#if posts.length}}
<section>
  <h1 class="text-secondary text-center mt-5 pb-5">Devices</h1>
  <ol class="p-0">
    {{#each posts as |post|}}
    <li class="my-3 d-flex justify-content-center">
      {{> post-info post}}
    </li>
    {{/each}}
  </ol>
</section>

{{/if}}
