<div class="card p-0 text-center w-50">
      <h2 class="card-header text-secondary">Login</h2>
      <form class="card-body login-form text-center">
        <div class="mb-3">
          <input id="email-login" type="text" class="form-input w-75" placeholder="Email" />
        </div>

        <div>
          <input id="password-login" type="password" class="form-input w-75" placeholder="Password" />
        </div>

        <button type="submit" class="btn btn-primary m-2">Login</button>
      </form>
      <a class="link m-2" href="/sign-up">Sign Up Instead</a>
</div>
<script src="/javascript/login.js"></script>