<div class="card p-0 text-center w-50">
      <h2 class="card-header text-secondary">Sign Up</h2>
      <form class="card-body signup-form text-center">
        <div class="mb-3">
          <input id="username-signup" type="text" class="form-input w-75" placeholder="Username" />
        </div>

        <div class="mb-3">
          <input id="email-signup" type="text" class="form-input w-75" placeholder="Email" />
        </div>

        <div>
          <input id="password-signup" type="password" class="form-input w-75" placeholder="Password" />
        </div>

        <button type="submit" class="btn btn-primary m-2">Signup</button>
      </form>
      <a class="link m-2" href="/login">Login Instead</a>
</div>
<script src="/javascript/signup.js"></script>