{{> user-info user}}

{{#if loggedIn}}

{{#if user.comments}}
{{> comments user.comments}}
{{/if}}

<div class="card">
    <form class="card-body comment-form" id="comment-form">

        <label class="form-label">Message</label>
        <input id="comment" name="comment-body" class="form-input"/>

        <button type="submit" class="btn">Submit</button>
    </form>
</div>

{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}